body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.form {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  justify-content: space-between;
}

.input {
  margin-top: 10px;
  height: 30px;
  border-radius: 5px;
  padding: 0 0 0 5px;
  font-size: 14px;
}

.input:focus {
  border: 1px solid rgb(74, 174, 192);
}

.button {
  margin-top: 10px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid rgb(74, 174, 192);
  background-color: skyblue;
  color: #ffffff;
  font-size: 14px;
}

.test-section {
  display: flex;
  width: 1100px;
  justify-content: space-between;
  align-items: center;
}

.chat {
  display: grid;
  justify-content: space-between;
  width: 700px;
  height: 500px;
  margin-top: 100px;
  border: 1px solid #9e9999;
  border-radius: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "room-props chat-field chat-field chat-field"
    "room-props chat-field chat-field chat-field"
    "room-props chat-field chat-field chat-field"
}

.room-props {
  grid-area: room-props;
  border-right: 1px solid #9e9999;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(74, 174, 192);
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.room {
  color: #ffffff;
}

.users {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 5px;
  color: teal;
}

.users__header {
  margin: 0;
}

.users__list {
  padding: 0;
}

.user {
  list-style: none;
}

.chat-field {
  grid-area: chat-field;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.messages {
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}

.message {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid #efefef;
  border-radius: 5px;
  margin-top: 5px;
  padding: 5px;
  box-sizing: border-box;
  background-color: rgb(81, 191, 211);
  color: #ffffff;
}

.message_in {
  background-color: tomato;
  align-self: flex-start;
}

.message__text {
  margin: 5px 0 0;
  font-size: 16px;
  line-height: 1.12;
}

.message__author {
  margin: 5px 0 0;
  font-size: 12px;
  color: #efefef;
  font-weight: bold;
}

.message__date {
  margin: 5px 0 0;
  font-size: 12px;
  color: #efefef;
}

.chat__form {
  margin-top: 10px;
  width: 100%;
  display: flex;
  padding-top: 5px;
  border-top: 1px solid #9e9999;
}

.chat__text {
  width: 70%;
  border: 1px solid #9e9999;
}

.chat__text:focus {
  border: 2px solid rgb(81, 191, 211);
}

.chat__button {
  border: none;
  border-radius: 5px;
  margin-left: 5px;
  background-color: rgb(81, 191, 211);
  color: #ffffff;
}

.chat__button:active {
  background-color: teal;
}

.chat__button:disabled {
  background-color: teal;
}

.chat__button:hover {
  cursor: pointer;
  opacity: .8;
}

#video {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-auto-rows: 300px;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}